<html>
<head>
    <title></title>
</head>
<body>
<script>
function postRequestToServer(endpoint, payload, callbackFunction) {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            response = JSON.parse(this.responseText);
            callbackFunction(response);
        }
    };
    xmlhttp.open("POST", endpoint, true);
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(payload);
}

function reIndex() {
    postRequestToServer("reIndex", {}, function(response) {
                                            document.getElementById("adminInfo").value = response.status;
                                        }
                       );
}

function dumpQuestions() {
    postRequestToServer("dumpQuestions", {}, function(response) {
                                            document.getElementById("adminInfo").value = response.debugInfo;
                                        }
                       );
}

function getAnswer() {
    var question = document.getElementById("question").value.trim();
    var conversation = document.getElementById("conversation").value;
    conversation = conversation + "\nYou: " + question;
    document.getElementById("conversation").value = conversation;
    document.getElementById("question").value = "";
    document.getElementById("submit").value = "Please wait";
    document.getElementById("submit").disabled = true;
    payload = JSON.stringify({"questionString":question});
    postRequestToServer("postQuestion", payload, function(response) {
                                            document.getElementById("conversation").value = conversation + "\nChatBot: " + response.topAnswer.answerString + "\n";
                                            document.getElementById("responseTime").value = response.responseTime;
                                            document.getElementById("debug").value = JSON.stringify(response.debugInfo, null, 2);
                                            document.getElementById("submit").value = "Submit";
                                            document.getElementById("submit").disabled = false;
                                    }
                          );
}

</script>

<div>
    <table border="0" cellpadding="0" cellspacing="10" style="width:100%;">
        <tbody>
        <tr>
            <td style="width:60%; vertical-align:top">
                <B>How may I help you? </B>Type your question in the box below
            </td>
            <td style="width:20%; vertical-align:top">
                <B>Debug Info</B>
            </td>
        </tr>
        <tr>
            <td style="width:80%; vertical-align:top; background-color:#D0D0D0">
                <textarea id="conversation" style="background-color:#D0D0D0; border: none; width: 100%; resize: none;" readonly="readonly" rows="20"></textarea>
                <textarea style="border:1; width: 100%;" id="question" name="question" rows="5"></textarea>
            </td>
            <td style="width:20%; vertical-align:top; background-color:#D0D0D0">
                <textarea id="debug" style="background-color:#D0D0D0; border: none; width: 100%; resize: none;" readonly="readonly" rows="26"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <div style="display: inline-block; *display: inline;color:red;">
                    Response Time (milliseconds): <input id="responseTime" style="border:0" value=0 disabled />
                </div>
                <div style="display: inline-block; *display: inline;float: right;">
                    <input type="button" id="question_error" onclick="getAnswer1()" value="I did ask a question">
                    <input type="button" id="incorrect_answer" onclick="getAnswer2()" value="Incorrect answer">
                    <input type="button" id="submit" onclick="getAnswer()" value="Submit">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="10" style="width:100%;">
        <tbody>
        <tr>
            <td style="width:100%; vertical-align:top">
                <B>Admin Panel</B>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;background-color:#D0D0D0">
                <input type="button" id="reindex" onclick="reIndex()" value="Reindex">
                <input type="button" id="dumpQuestions" onclick="dumpQuestions()" value="dumpQuestions">
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top; background-color:#D0D0D0">
                <textarea id="adminInfo" style="background-color:#D0D0D0; border: none; width: 100%; resize: none;" readonly="readonly" rows="26"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>